body {
    margin: 0;
}

.nav {
    background-color: rgb(245, 245, 245);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    color:white;
}

