$primary: black;
$accent: #c6c2b6;
$primary-darker: #1d2d37;

.navbar {
  background-color: $accent;
}

a.logo,
a.logo:visited {
  color: $primary;
  font-weight: bold;
}

a.logo:hover,
a.logo:active {
  color: $primary-darker;
}

a.logout-link {
  color: $primary;
}
