node_modules
.parcel-cache/0eec3c94b448e577
.parcel-cache/0f817512aa19eef7.txt
.parcel-cache/773c2035afcfefcf
.parcel-cache/9409a5a37d7fa099.txt
.parcel-cache/9d6806c1e6d73662
.parcel-cache/be421f5ad77beb1a
.parcel-cache/data.mdb
.parcel-cache/faf76a89a5ae82aa
.parcel-cache/lock.mdb
dist/index.b4b6dfad.js
dist/index.b4b6dfad.js.map
dist/index.ce1d6491.css.map
*.jpg
.parcel-cache/a9f5484dda8bfe2c
*.css
*.map
*.css
*.css
*.css
*.css
dist/index.5f1df611.css
dist/index.ce1d6491.css
*.css
*.css
dist/index.ce1d6491.css
*.css
*.html
*.css
*.css
dist/index.ce1d6491.css
dist/index.html
*.css
