<<<<<<< Updated upstream
$primary: SeaGreen;
$body-bg: Honeydew;

=======
$primary: steelblue;
$body-bg: lightgray;

// .my-flix {
//     color: $color;
// }

// $primary: SeaGreen;
// $body-bg: Honeydew;

>>>>>>> Stashed changes
@import '~bootstrap/scss/bootstrap.scss';