$primary: #061b2e;
$secondary: #d6d6d6;
$accent: #f7be16;


body {
    background-color: $primary;
    color: $secondary;

    .container {
        max-width: 100%;
        padding: 0;
    }
}

// Cards
.card {
    color: $primary;

    .card-body {
        background-color: white;
    }
}

// Buttons
a.btn-secondary,
button.btn-secondary {
    color: $primary;
}

//Layout classes
.align-right {
    text-align: right;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 5px 25px !important;
}

.main-body-container {
    width: 1320px;
    margin: 0 auto !important;

}

@import '~bootstrap/scss/bootstrap.scss';